.card:hover img {
  transform: scale(1.1, 1.1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  transition-delay: 0.7;
}

.card img {
  transform: scale(1.0, 1.0);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.card-img-wrapper {
  overflow: hidden;
  position: relative;
}

.member-icons {
  position: absolute;
  bottom: -30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  /* background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem; */
  /* color: white; */
  /* text-align: center; */
}

.card-img-wrapper:hover .member-icons {
  bottom: 0;
  opacity: 1;
  /* transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0.7; */
}

.animate {
  transition: all 0.3s ease-in-out;
}

@keyframes fa-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  
}

.is-online {
  animation: fa-blink 2.5s linear infinite;
  color: rgb(1, 189, 42);
}