/* You can add global styles to this file, and also import other style files */
.tab-panel {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  
}

.nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
  border-bottom: 4px solid #7b93ef;
}

.member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for a subtle lift effect */

}

.member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.member-tabset > .nav-tabs > li.active {
  border-bottom: 4px solid #3459e6;
  position: relative;
}

.member-tabset > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}

.member-tabset > .nav-tabs > li.active > a > i {
  color: #404040;
}

/* Styling for non-active tabs */
.member-tabset > .nav-tabs > li:not(.active) {
  color: #7b93ef; /* Color for non-active tab text */
  background-color: #f2f2f2;
}

.member-tabset > .nav-tabs > li:not(.active):hover {
  color: #333333; /* Color for non-active tab text */
}

.member-tabset > .nav-tabs > li:not(.active) > a {
  color: inherit; /* Ensures the anchor tag inherits the color from its parent */
}

.member-tabset > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

.mybox {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for a subtle lift effect */
}

.gallery {
  height: 600px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
